.navHeader {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  padding-right: 20px;
  background-color: #020202;
  padding: 10px;
  padding-left: 1px;
  font-weight: bold;
}
h1 {
  margin: 0%;
  margin-left: 80px;
  color: lightblue;
}
.navLinks ul {
  padding: 5px;
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  gap: 10px;
}
.navLinks a {
  padding: 2px 5px;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
li {
  list-style: none;
}
.categoryHeader {
  display: flex;
  gap: 15px;
  background-color: rgb(11, 11, 11);
  list-style: none;
  border-top: 1px solid white;
  padding: 10px;
  text-decoration: none;
  color: white;
  padding-left: 40px;
}
.categoryHeader a{
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 2px 4px ;
}
.search-container {
  width: 100%;
  margin-right: 380px;
  
}

.search-bar {
  width: 300px;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5); /* Light border with transparency */
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1); /* Transparent background */
  color: white;
  font-size: 16px;
  backdrop-filter: blur(10px); /* Optional: adds a blur effect behind the input */
  outline: none;
  transition: all 0.3s ease-in-out;
}

.search-bar::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Placeholder text color */
}

.search-bar:focus {
  background-color: rgba(255, 255, 255, 0.2); /* Slightly less transparent on focus */
  border-color: rgba(255, 255, 255, 0.7);
}

