.homepage{
  background-color: #191919 ;
}

.homepage .carousel-item img {
    cursor: pointer;
  }
  
  .product-img {
    height: 250px;
    object-fit: cover;
  }
  
  .info-section {
    color: white;
    background-color: #191919;
    padding: 40px 0;
  }
  
  .info-card {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.3s;
  }
  
  .info-card:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  }
  
  .newsletter-section {
    background-color: #1d1d1d;
    color: white;
  }
  
  .newsletter-form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .newsletter-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #product-types {
    display: flex;
    max-width: min-content;
    margin: auto;
  }
  #product-types img{
    max-width: 120px;
    margin: 5px;
  }
  #products{
    color: white;
  }
  #product-types, #products, #info-section {
    padding-top: 80px; /* Adjust based on navbar height */
    color: white !important;
  }
  

  .navbar {
    height: 70px;
    font-size: large;
    font-weight: bold;
    background-color: #191919; /* Semi-transparent white */
    transition: background-color 0.3s ease-in-out; /* Smooth transition for any color changes */
  }
  
  .navbar.fixed-top.scrolled {
    background-color: rgb(28, 27, 27); /* Solid white when scrolled */
  }
  
  .navbar .nav-link {
    color: rgb(255, 255, 255); /* Default link color */
  }
  
  .navbar .nav-link.active {
    color: red; /* Active link color */
    border-bottom: 2px solid red;
  }
  
  .navbar .nav-link:hover {
    color: red; /* Hover effect */
  }
  
  