.navbar {
  display: flex;
  gap: 15px;
  padding-left: 10px;
  background-color: #020202;
  padding: 10px;
  font-weight: bold;
}
.logo{
  color: rgb(236, 237, 238);
}
.navLinks {
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  gap: 50px;
}
p{
  font-size: 0.8rem;
  margin: 0%;
}
h2{
  color: rgb(2, 0, 0);
  margin-left: 20px;
}